@import url(https://fonts.googleapis.com/css?family=Pacifico);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="button"],
textarea,
button {
  outline: none;
}

input[type="text"]:active,
input[type="password"]:active,
input[type="email"]:active,
input[type="submit"]:active,
input[type="button"]:active,
textarea:active,
button:active {
  outline: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* ==reset== */
@font-face {
  font-family: HelveticaNeueCyr-Medium;
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
  font-family: HelveticaNeueCyr-Bold;
  src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
  font-family: ChunkFive;
  src: url(../fonts/ChunkFive.ttf);
}

body {
  font: 1rem HelveticaNeueCyr-Medium;
  color: #000;
}

a {
  color: #000;
}

.container {
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.bx-wrapper {
  width: 100% !important;
  height: 100% !important;
  margin: 0 0 0 5px;
  z-index: 1 !important;
}

.bx-wrapper .bx-viewport {
  border: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
}

.bx-wrapper .bx-viewport ul.bx-slider {
  height: 100% !important;
  z-index: 1 !important;
}

.bx-wrapper .bx-viewport ul.bx-slider li {
  width: 100% !important;
  height: 100% !important;
  z-index: 1 !important;
}

.bx-prev,
.bx-next,
.bx-controls {
  display: none;
}

.img1 {
  background: url(../img/img1.jpg) no-repeat;
}

.img2 {
  background: url(../img/img2.jpg) no-repeat;
}

.img3 {
  background: url(../img/img3.jpg) no-repeat;
}

.img4 {
  background: url(../img/img4.jpg) no-repeat;
}

.img5 {
  background: url(../img/img5.jpg) no-repeat;
}

.img6 {
  background: url(../img/img6.jpg) no-repeat;
}

.img7 {
  background: url(../img/img7.jpg) no-repeat;
}

.bg_img {
  display: block;
  min-height: 1200px;
  width: 100%;
  height: 100%;
  background-position: center -100px;
  background-size: 100% auto;
}

#bx-pager {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 20px 20px;
  z-index: 4 !important;
  max-height: 606px;
  overflow-y: auto;
}

#bx-pager a {
  display: block;
  margin-top: 20px;
}

#bx-pager a img {
  width: 160px;
  height: 120px;
}

#bx-pager a img:hover {
  box-shadow: 0 0 5px 5px #aaa;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}

.content .container {
  position: relative;
  z-index: 3;
  height: 100%;
}

.wrap_logo {
  padding: 10px 20px 30px;
  background: #fff;
  max-width: 200px;
}

.logo {
  font: 2.5rem "Pacifico", cursive;
  display: block;
}

.logo:after {
  content: '.';
  color: #86b11e;
  font-size: 40px;
}

.text_l {
  font-style: italic;
  font-size: 14px;
}

.wrap_banner {
  margin-top: 60px;
  max-width: 300px;
}

.featured {
  color: #fff;
  font-size: 28px;
  background: #72726f;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
}

.feature_sub {
  display: inline-block;
  padding: 10px 20px;
  color: #72726f;
  background: #fff;
  font-style: italic;
  font-size: 18px;
}

.menu_block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
}

.menu_block:before {
  position: relative;
  display: block;
  content: '';
  height: 10px;
  width: 50%;
  background-color: #6e6e6b;
  opacity: 0.5;
  margin-top: -10px;
}

.menu_block .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_menu {
  white-space: nowrap;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main_menu li {
  display: inline-block;
  margin: 0 7px;
}

.main_menu li a {
  display: block;
  font-size: 18px;
  font: 1.125rem HelveticaNeueCyr-Medium, "OstrichSans", "open sans", sans-serif;
  color: #4c4c4c;
  text-transform: uppercase;
  line-height: 3em;
  position: relative;
}

.main_menu li a:hover, .main_menu li a.active_a {
  color: #86b11e;
}

.main_menu li a:hover:before, .main_menu li a.active_a:before {
  position: absolute;
  left: 40%;
  content: '';
  top: -7px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 16px 10px;
  border-color: transparent transparent #fff transparent;
}

.foot .texts {
  text-align: center;
  font: 0.625rem HelveticaNeueCyr-Medium;
  color: #4c4c4c;
}

.btn_view {
  position: absolute;
  width: 40px;
  height: 30px;
  background: rgba(255, 255, 255, 0.8) url(../img/hide_show.png) center center no-repeat;
  cursor: pointer;
  top: 126px;
  right: 22%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrap_contens {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  margin: 30px 0 0 0;
  width: 78%;
  padding-bottom: 40px;
  max-height: 450px;
  overflow-y: auto;
}

.head_cont {
  text-transform: uppercase;
  font: bold 1.375rem HelveticaNeueCyr-Bold;
  margin-bottom: 25px;
  padding-left: 10px;
  border-left: 3px solid #86b11e;
}

p.text {
  margin: 20px 0;
  font: 0.875rem HelveticaNeueCyr-Medium;
}

.fl_left {
  float: left;
  margin: 0px 20px 10px 0;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

p.citate {
  display: inline-block;
  padding-left: 40px;
  font-style: italic;
  background: url(../img/comma.png) 0 0 no-repeat;
}

.wrap_block_serv {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wrap_block_serv:after {
  content: " ";
  display: block;
  clear: both;
}

.block_serv {
  width: 44.91525%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 30px;
}

.block_serv:nth-child(2n) {
  width: 44.91525%;
  float: right;
  margin-right: 0;
}

.block_serv .text {
  font-size: 13px;
}

.pictr {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}

.camera {
  background: #86b11e url(../img/camera.png) center center no-repeat;
}

.car {
  background: #86b11e url(../img/car.png) center center no-repeat;
}

.shape {
  background: #86b11e url(../img/shape.png) center center no-repeat;
}

.piple {
  background: #86b11e url(../img/piple.png) center center no-repeat;
}

.head_bs {
  font-size: 18px;
  text-transform: uppercase;
}

.head_bs_sub {
  font-size: 14px;
  margin-top: 5px;
  font-style: italic;
  color: #888;
}

.portfolio .wrap_block_serv {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portf1 {
  background: url(../img/portf1.jpg) 0 0 no-repeat;
}

.portf2 {
  background: url(../img/portf2.jpg) 0 0 no-repeat;
}

.portf3 {
  background: url(../img/portf3.jpg) 0 0 no-repeat;
}

.portf4 {
  background: url(../img/portf4.jpg) 0 0 no-repeat;
}

.portf5 {
  background: url(../img/portf5.jpg) 0 0 no-repeat;
}

.portf6 {
  background: url(../img/portf6.jpg) 0 0 no-repeat;
}

.portf7 {
  background: url(../img/portf7.jpg) 0 0 no-repeat;
}

.portf8 {
  background: url(../img/portf8.jpg) 0 0 no-repeat;
}

.portf9 {
  background: url(../img/portf9.jpg) 0 0 no-repeat;
}

.block_folio {
  max-width: 250px;
  width: 33%;
  margin: 0 auto 30px;
  flex-srink: 1;
  background-size: 100% 100%;
  height: 220px;
  position: relative;
}

.block_folio:hover .block_folio_hover {
  opacity: 1;
}

.block_folio_hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 0.5s;
}

.block_folio_hover .a_hov {
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  color: #fff;
  margin-top: 150px;
}

.block_folio_hover .a_hov:hover {
  text-decoration: underline;
}

.block_folio_hover .a_hov:before {
  position: absolute;
  top: -80px;
  left: 50%;
  margin-left: -35px;
  display: block;
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.5) url(../img/search.png) center center no-repeat;
}

.beedback_form {
  width: 100%;
  display: block;
  margin: 30px 0;
}

.first_name,
.last_name,
.email,
#message {
  display: block;
  margin: 20px 4px;
  padding: 15px 20px;
  background: #fafafa;
  border: 3px solid rgba(134, 177, 30, 0.4);
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
  width: 90%;
  min-width: 240px;
  max-width: 300px;
}

.first_name:focus, .first_name:hover,
.last_name:focus,
.last_name:hover,
.email:focus,
.email:hover,
#message:focus,
#message:hover {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

#message {
  font-size: 14px;
  min-height: 150px;
  max-width: 500px;
}

.message_btn {
  border: none;
  background: #86b11e;
  color: #fff;
  padding: 10px 30px;
  font: 0.875rem HelveticaNeueCyr-Bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
