*, ::after, ::before {
				box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
				margin: 0; }

body {
				min-height: 100%;
				scroll-behavior: smooth;
				line-height: 1.2; }

ul[class],
ol[class] {
				list-style: none;
				padding: 0; }

a:not([class]) {
				-webkit-text-decoration-skip: ink;
				        text-decoration-skip-ink: auto; }

img {
				max-width: 100%;
				display: block; }

a img {
				border: none; }

input,
button,
textarea,
select {
				font: inherit; }

textarea:focus, input:focus, select:focus, button:focus {
				outline: none; }

table {
				border-collapse: collapse;
				border-spacing: 0; }

::placeholder {
				color: currentColor; }

:focus::placeholder {
				color: transparent; }

.db {
				display: block; }

.dib {
				display: inline-block; }

.show_xl {
				display: block; }

.hide_xl {
				display: none; }

.flex {
				display: flex; }

.inline_flex {
				display: inline-flex; }

.fdc {
				flex-direction: column; }

.fdcr {
				flex-direction: column-reverse; }

.fdr {
				flex-direction: row; }

.fdrr {
				flex-direction: row-reverse; }

.jcsb {
				justify-content: space-between; }

.jcsa {
				justify-content: space-around; }

.jcc {
				justify-content: center; }

.jcfe {
				justify-content: flex-end; }

.jcfs {
				justify-content: flex-start; }

.aic {
				align-items: center; }

.ais {
				align-items: stretch; }

.aifs {
				align-items: flex-start; }

.aife {
				align-items: flex-end; }

.fww {
				flex-wrap: wrap; }

.fwnw {
				flex-wrap: nowrap; }

.fwwr {
				flex-wrap: wrap-reverse; }

.order1 {
				order: 1; }

.order2 {
				order: 2; }

.order3 {
				order: 3; }

@media only screen and (max-width: 992px) {
				.show_md {
								display: block; }
				.hide_md {
								display: none; }
				.flex_md {
								display: flex; }
				.inline_flex_md {
								display: inline-flex; }
				.fdc_md {
								flex-direction: column; }
				.fdcr_md {
								flex-direction: column-reverse; }
				.fdr_md {
								flex-direction: row; }
				.fdrr_md {
								flex-direction: row-reverse; }
				.jcsb_md {
								justify-content: space-between; }
				.jcsa_md {
								justify-content: space-around; }
				.jcc_md {
								justify-content: center; }
				.jcfe_md {
								justify-content: flex-end; }
				.jcfs_md {
								justify-content: flex-start; }
				.aic_md {
								align-items: center; }
				.ais_md {
								align-items: stretch; }
				.aifs_md {
								align-items: flex-start; }
				.aife_md {
								align-items: flex-end; }
				.fww_md {
								flex-wrap: wrap; }
				.fwnw_md {
								flex-wrap: nowrap; }
				.fwwr_md {
								flex-wrap: wrap-reverse; }
				.order1_md {
								order: 1; }
				.order2_md {
								order: 2; }
				.order3_md {
								order: 3; } }

@media only screen and (max-width: 768px) {
				.show_sm {
								display: block; }
				.hide_sm {
								display: none; }
				.flex_sm {
								display: flex; }
				.inline_flex_sm {
								display: inline-flex; }
				.fdc_sm {
								flex-direction: column; }
				.fdcr_sm {
								flex-direction: column-reverse; }
				.fdr_sm {
								flex-direction: row; }
				.fdrr_sm {
								flex-direction: row-reverse; }
				.jcsb_sm {
								justify-content: space-between; }
				.jcsa_sm {
								justify-content: space-around; }
				.jcc_sm {
								justify-content: center; }
				.jcfe_sm {
								justify-content: flex-end; }
				.jcfs_sm {
								justify-content: flex-start; }
				.aic_sm {
								align-items: center; }
				.ais_sm {
								align-items: stretch; }
				.aifs_sm {
								align-items: flex-start; }
				.aife_sm {
								align-items: flex-end; }
				.fww_sm {
								flex-wrap: wrap; }
				.fwnw_sm {
								flex-wrap: nowrap; }
				.fwwr_sm {
								flex-wrap: wrap-reverse; }
				.order1_sm {
								order: 1; }
				.order2_sm {
								order: 2; }
				.order3_sm {
								order: 3; } }

@media only screen and (max-width: 480px) {
				.show_xs {
								display: block; }
				.hide_xs {
								display: none; }
				.flex_xs {
								display: flex; }
				.inline_flex_xs {
								display: inline-flex; }
				.fdc_xs {
								flex-direction: column; }
				.fdcr_xs {
								flex-direction: column-reverse; }
				.fdr_xs {
								flex-direction: row; }
				.fdrr_xs {
								flex-direction: row-reverse; }
				.jcsb_xs {
								justify-content: space-between; }
				.jcsa_xs {
								justify-content: space-around; }
				.jcc_xs {
								justify-content: center; }
				.jcfe_xs {
								justify-content: flex-end; }
				.jcfs_xs {
								justify-content: flex-start; }
				.aic_xs {
								align-items: center; }
				.ais_xs {
								align-items: stretch; }
				.aifs_xs {
								align-items: flex-start; }
				.aife_xs {
								align-items: flex-end; }
				.fww_xs {
								flex-wrap: wrap; }
				.fwnw_xs {
								flex-wrap: nowrap; }
				.fwwr_xs {
								flex-wrap: wrap-reverse; }
				.order1_xs {
								order: 1; }
				.order2_xs {
								order: 2; }
				.order3_xs {
								order: 3; } }
/*# sourceMappingURL=grid.css.map */