@charset "utf-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

textarea:focus, input:focus, select:focus, button:focus { outline: none; }

html { line-height: 1.25; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

*, ::after, ::before { box-sizing: border-box; }

html .ftb { height: 100%; }

.ftb body { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100%; height: auto; }

.ftb footer { margin-top: auto; }

.fg2 { -webkit-flex-grow: 2; -ms-flex-positive: 2; flex-grow: 2; }

::-webkit-input-placeholder { color: currentColor; }

::-moz-placeholder { color: currentColor; }

:-ms-input-placeholder { color: currentColor; }

::placeholder { color: currentColor; }

:focus::-webkit-input-placeholder { color: transparent; }

:focus::-moz-placeholder { color: transparent; }

:focus:-ms-input-placeholder { color: transparent; }

:focus::placeholder { color: transparent; }

.checkbox, .radio { display: none; }

.radio + label, .checkbox + label { display: inline-block; position: relative; cursor: pointer; padding-left: 30px; margin: 10px 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.radio + label::before, .checkbox + label::before { display: block; content: ''; position: absolute; width: 20px; height: 20px; left: 0; top: 50%; margin-top: -10px; }

.checkbox + label::before { background: #ccc; border-radius: 3px; }

.radio + label::before { border: 3px solid #8ecc45; border-radius: 50%; }

.checkbox:checked + label::before { background: #171717; }

.radio:checked + label::after, .checkbox:checked + label::after { display: block; position: absolute; top: 50%; }

.checkbox:checked + label::after { content: '\2713'; color: #fff; height: 16px; line-height: 16px; margin-top: -8px; left: 4px; }

.radio:checked + label::after { content: ''; left: 5px; margin-top: -5px; width: 10px; height: 10px; background: #8ecc45; border-radius: 50%; }

.bgpopup, .popup { position: fixed; visibility: hidden; opacity: 0; transition: opacity .4s, visibility .4s; }

.popup.active, .bgpopup.active { opacity: 1; visibility: visible; }

.popup { width: calc(100% - 30px); left: 15px; right: 15px; margin: 0 auto; top: 10%; border-radius: 3px; padding: 30px; z-index: 100; max-width: 320px; background-color: #021E4D; }

.bgpopup { width: 150%; height: 150%; left: -25%; top: -25%; right: -25%; bottom: -25%; background: rgba(0, 0, 0, 0.8); cursor: default; z-index: 99; }

#messages { z-index: 100; }

.switch { cursor: pointer; }

[data-swb] { display: none; }

[data-swb]:nth-child(1) { display: block; }

.vat { vertical-align: top; }

.vam { vertical-align: middle; }

.vab { vertical-align: bottom; }

.tac, center { text-align: center; }

.tal { text-align: left; }

.tar { text-align: right; }

.wsnw { white-space: nowrap; }

.wsnw_3p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.wsn { white-space: normal; }

.usn { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.db { display: block; }

.dib { display: inline-block; }

.show_xl { display: block; }

.hide_xl { display: none; }

.inline > .show_xl { display: inline-block; }

.ma { margin: auto; }

.mta { margin-top: auto; }

.mra { margin-right: auto; }

.mba { margin-bottom: auto; }

.mla { margin-left: auto; }

.m0 { margin: 0px; }

.mt0 { margin-top: 0px; }

.mr0 { margin-right: 0px; }

.mb0 { margin-bottom: 0px; }

.ml0 { margin-left: 0px; }

.p0 { padding: 0px; }

.pt0 { padding-top: 0px; }

.pr0 { padding-right: 0px; }

.pb0 { padding-bottom: 0px; }

.pl0 { padding-left: 0px; }

.m5 { margin: 5px; }

.mt5 { margin-top: 5px; }

.mr5 { margin-right: 5px; }

.mb5 { margin-bottom: 5px; }

.ml5 { margin-left: 5px; }

.p5 { padding: 5px; }

.pt5 { padding-top: 5px; }

.pr5 { padding-right: 5px; }

.pb5 { padding-bottom: 5px; }

.pl5 { padding-left: 5px; }

.m10 { margin: 10px; }

.mt10 { margin-top: 10px; }

.mr10 { margin-right: 10px; }

.mb10 { margin-bottom: 10px; }

.ml10 { margin-left: 10px; }

.p10 { padding: 10px; }

.pt10 { padding-top: 10px; }

.pr10 { padding-right: 10px; }

.pb10 { padding-bottom: 10px; }

.pl10 { padding-left: 10px; }

.m15 { margin: 15px; }

.mt15 { margin-top: 15px; }

.mr15 { margin-right: 15px; }

.mb15 { margin-bottom: 15px; }

.ml15 { margin-left: 15px; }

.p15 { padding: 15px; }

.pt15 { padding-top: 15px; }

.pr15 { padding-right: 15px; }

.pb15 { padding-bottom: 15px; }

.pl15 { padding-left: 15px; }

.m20 { margin: 20px; }

.mt20 { margin-top: 20px; }

.mr20 { margin-right: 20px; }

.mb20 { margin-bottom: 20px; }

.ml20 { margin-left: 20px; }

.p20 { padding: 20px; }

.pt20 { padding-top: 20px; }

.pr20 { padding-right: 20px; }

.pb20 { padding-bottom: 20px; }

.pl20 { padding-left: 20px; }

.m25 { margin: 25px; }

.mt25 { margin-top: 25px; }

.mr25 { margin-right: 25px; }

.mb25 { margin-bottom: 25px; }

.ml25 { margin-left: 25px; }

.p25 { padding: 25px; }

.pt25 { padding-top: 25px; }

.pr25 { padding-right: 25px; }

.pb25 { padding-bottom: 25px; }

.pl25 { padding-left: 25px; }

.m30 { margin: 30px; }

.mt30 { margin-top: 30px; }

.mr30 { margin-right: 30px; }

.mb30 { margin-bottom: 30px; }

.ml30 { margin-left: 30px; }

.p30 { padding: 30px; }

.pt30 { padding-top: 30px; }

.pr30 { padding-right: 30px; }

.pb30 { padding-bottom: 30px; }

.pl30 { padding-left: 30px; }

.xl_0 { width: 0%; }

.xl_5 { width: 5%; }

.xl_10 { width: 10%; }

.xl_15 { width: 15%; }

.xl_20 { width: 20%; }

.xl_25 { width: 25%; }

.xl_30 { width: 30%; }

.xl_35 { width: 35%; }

.xl_40 { width: 40%; }

.xl_45 { width: 45%; }

.xl_48 { width: 48%; }

.xl_50 { width: 50%; }

.xl_55 { width: 55%; }

.xl_60 { width: 60%; }

.xl_65 { width: 65%; }

.xl_70 { width: 70%; }

.xl_75 { width: 75%; }

.xl_80 { width: 80%; }

.xl_85 { width: 85%; }

.xl_90 { width: 90%; }

.xl_95 { width: 95%; }

.xl_100 { width: 100%; }

.flex { display: -webkit-flex; display: -ms-flexbox; display: flex; }

.inline_flex { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }

.fdc { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.fdcr { -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.fdr { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }

.fdrr { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.jcsb { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.jcsa { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.jcc { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.jcfe { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }

.jcfs { -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }

.aic { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.ais { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }

.aifs { -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.aife { -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }

.fww { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.fwnw { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.fwwr { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.order1 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }

.order2 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.order3 { -webkit-order: 3; -ms-flex-order: 3; order: 3; }

.acs { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

.acc { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }

.acsb { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }

.acsa { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }

.acfs { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }

.acfe { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }

.asfs { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.asfe { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }

.asc { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.asa { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }

.ass { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }

.asb { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; }

@media only screen and (max-width: 1220px) { .lg_0 { width: 0%; }
  .lg_5 { width: 5%; }
  .lg_10 { width: 10%; }
  .lg_15 { width: 15%; }
  .lg_20 { width: 20%; }
  .lg_25 { width: 25%; }
  .lg_30 { width: 30%; }
  .lg_35 { width: 35%; }
  .lg_40 { width: 40%; }
  .lg_45 { width: 45%; }
  .lg_50 { width: 50%; }
  .lg_55 { width: 55%; }
  .lg_60 { width: 60%; }
  .lg_65 { width: 65%; }
  .lg_70 { width: 70%; }
  .lg_75 { width: 75%; }
  .lg_80 { width: 80%; }
  .lg_85 { width: 85%; }
  .lg_90 { width: 90%; }
  .lg_95 { width: 95%; }
  .lg_100 { width: 100%; }
  .show_lg { display: block; }
  .hide_lg { display: none; }
  .flex_lg { display: -webkit-flex; display: -ms-flexbox; display: flex; }
  .inline_flex_lg { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
  .fdc_lg { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .fdcr_lg { -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .fdr_lg { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
  .fdrr_lg { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
  .jcsb_lg { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .jcsa_lg { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .jcc_lg { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .jcfe_lg { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
  .jcfs_lg { -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .aic_lg { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .ais_lg { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
  .aifs_lg { -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .aife_lg { -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .fww_lg { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .fwnw_lg { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .fwwr_lg { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
  .order1_lg { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .order2_lg { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .order3_lg { -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .acs_lg { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
  .acc_lg { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
  .acsb_lg { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }
  .acsa_lg { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
  .acfs_lg { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
  .acfe_lg { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
  .asfs_lg { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
  .asfe_lg { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
  .asc_lg { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
  .asa_lg { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }
  .ass_lg { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
  .asb_lg { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; } }
@media only screen and (max-width: 980px) { .md_0 { width: 0%; }
  .md_5 { width: 5%; }
  .md_10 { width: 10%; }
  .md_15 { width: 15%; }
  .md_20 { width: 20%; }
  .md_25 { width: 25%; }
  .md_30 { width: 30%; }
  .md_35 { width: 35%; }
  .md_40 { width: 40%; }
  .md_45 { width: 45%; }
  .md_50 { width: 50%; }
  .md_55 { width: 55%; }
  .md_60 { width: 60%; }
  .md_65 { width: 65%; }
  .md_70 { width: 70%; }
  .md_75 { width: 75%; }
  .md_80 { width: 80%; }
  .md_85 { width: 85%; }
  .md_90 { width: 90%; }
  .md_95 { width: 95%; }
  .md_100 { width: 100%; }
  .show_md { display: block; }
  .hide_md { display: none; }
  .flex_md { display: -webkit-flex; display: -ms-flexbox; display: flex; }
  .inline_flex_md { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
  .fdc_md { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .fdcr_md { -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .fdr_md { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
  .fdrr_md { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
  .jcsb_md { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .jcsa_md { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .jcc_md { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .jcfe_md { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
  .jcfs_md { -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .aic_md { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .ais_md { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
  .aifs_md { -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .aife_md { -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .fww_md { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .fwnw_md { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .fwwr_md { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
  .order1_md { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .order2_md { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .order3_md { -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .acs_md { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
  .acc_md { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
  .acsb_md { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }
  .acsa_md { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
  .acfs_md { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
  .acfe_md { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
  .asfs_md { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
  .asfe_md { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
  .asc_md { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
  .asa_md { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }
  .ass_md { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
  .asb_md { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; } }
@media only screen and (max-width: 760px) { .sm_0 { width: 0%; }
  .sm_5 { width: 5%; }
  .sm_10 { width: 10%; }
  .sm_15 { width: 15%; }
  .sm_20 { width: 20%; }
  .sm_25 { width: 25%; }
  .sm_30 { width: 30%; }
  .sm_35 { width: 35%; }
  .sm_40 { width: 40%; }
  .sm_45 { width: 45%; }
  .sm_50 { width: 50%; }
  .sm_55 { width: 55%; }
  .sm_60 { width: 60%; }
  .sm_65 { width: 65%; }
  .sm_70 { width: 70%; }
  .sm_75 { width: 75%; }
  .sm_80 { width: 80%; }
  .sm_85 { width: 85%; }
  .sm_90 { width: 90%; }
  .sm_95 { width: 95%; }
  .sm_100 { width: 100%; }
  .show_sm { display: block; }
  .hide_sm { display: none; }
  .flex_sm { display: -webkit-flex; display: -ms-flexbox; display: flex; }
  .inline_flex_sm { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
  .fdc_sm { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .fdcr_sm { -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .fdr_sm { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
  .fdrr_sm { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
  .jcsb_sm { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .jcsa_sm { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .jcc_sm { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .jcfe_sm { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
  .jcfs_sm { -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .aic_sm { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .ais_sm { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
  .aifs_sm { -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .aife_sm { -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .fww_sm { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .fwnw_sm { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .fwwr_sm { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
  .order1_sm { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .order2_sm { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .order3_sm { -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .acs_sm { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
  .acc_sm { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
  .acsb_sm { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }
  .acsa_sm { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
  .acfs_sm { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
  .acfe_sm { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
  .asfs_sm { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
  .asfe_sm { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
  .asc_sm { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
  .asa_sm { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }
  .ass_sm { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
  .asb_sm { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; } }
@media only screen and (max-width: 480px) { .xs_0 { width: 0%; }
  .xs_5 { width: 5%; }
  .xs_10 { width: 10%; }
  .xs_15 { width: 15%; }
  .xs_20 { width: 20%; }
  .xs_25 { width: 25%; }
  .xs_30 { width: 30%; }
  .xs_35 { width: 35%; }
  .xs_40 { width: 40%; }
  .xs_45 { width: 45%; }
  .xs_50 { width: 50%; }
  .xs_55 { width: 55%; }
  .xs_60 { width: 60%; }
  .xs_65 { width: 65%; }
  .xs_70 { width: 70%; }
  .xs_75 { width: 75%; }
  .xs_80 { width: 80%; }
  .xs_85 { width: 85%; }
  .xs_90 { width: 90%; }
  .xs_95 { width: 95%; }
  .xs_100 { width: 100%; }
  .show_xs { display: block; }
  .hide_xs { display: none; }
  .flex_xs { display: -webkit-flex; display: -ms-flexbox; display: flex; }
  .inline_flex_xs { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
  .fdc_xs { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .fdcr_xs { -webkit-flex-direction: column-reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .fdr_xs { -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
  .fdrr_xs { -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
  .jcsb_xs { -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .jcsa_xs { -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
  .jcc_xs { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .jcfe_xs { -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; }
  .jcfs_xs { -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
  .aic_xs { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .ais_xs { -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
  .aifs_xs { -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .aife_xs { -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end; }
  .fww_xs { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .fwnw_xs { -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }
  .fwwr_xs { -webkit-flex-wrap: wrap-reverse; -ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }
  .order1_xs { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .order2_xs { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .order3_xs { -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .acs_xs { -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }
  .acc_xs { -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
  .acsb_xs { -webkit-align-content: space-between; -ms-flex-line-pack: justify; align-content: space-between; }
  .acsa_xs { -webkit-align-content: space-around; -ms-flex-line-pack: distribute; align-content: space-around; }
  .acfs_xs { -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; }
  .acfe_xs { -webkit-align-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; }
  .asfs_xs { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }
  .asfe_xs { -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
  .asc_xs { -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
  .asa_xs { -webkit-align-self: auto; -ms-flex-item-align: auto; align-self: auto; }
  .ass_xs { -webkit-align-self: stretch; -ms-flex-item-align: stretch; align-self: stretch; }
  .asb_xs { -webkit-align-self: baseline; -ms-flex-item-align: baseline; align-self: baseline; } }