@font-face {
	font-family: 'calibri';
	src: url(../fonts/calibri.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'calibribold';
	src: url(../fonts/calibribold.ttf);
	font-weight: 400;
}


html {
	height: 100%;
	min-height: 100%;
	background: #131313;
	background: #131313 url('../img/fon.jpg') 50% 50% no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	position: relative;
	padding: 105px 0 90px;
	min-height: 100%;
	height: auto;
	min-width: 320px;
}

body > *{box-shadow: none!important;}

.serf_page body {
	height: 100%;
	padding: 0;
	min-width: 320px;
}

a,
a:active,
a:focus{
	text-decoration: none;
	outline:none;
}

[type="text"], [type="number"], [type="password"], [type="email"], [type="submit"], [type="button"], textarea, button, select, [type="text"]:active, [type="password"]:active, [type="email"]:active, [type="submit"]:active, [type="button"]:active, textarea:active, button:active {
	outline: none;
}
[type="text"], [type="number"], [type="password"], [type="email"], select, option, textarea {
	display: block;
	width: 100%;
	height: 34px;
	padding: 7px 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #171717;
	border: 1px solid #c30f0f;
	border-radius: 4px;
	color: #797979;
}
textarea {
	height: auto;
	max-width: 100%;
	max-height: 350px;
}
input:disabled {
	cursor: not-allowed;
}

.row {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	min-width: 320px;
	max-width: 980px;
	width: 100%
}

.serf_page .row {
	max-width: 1205px;
}

header {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: #151515;
}
header .row1{
	height: 50px;
}

main {
	height: 100%;
	width: 100%;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background: #3a3a3a;
	z-index: 10;
}
footer .row {
	height: 40px;
}

.input_text {
	height: 40px;
	width: 90%;
	max-width: 600px;
}

.input_desc {
	color: #fff;
	background: #f45d5d;
	height: 40px;
	width: 30%;
	border-radius: 20px 0 0 20px;
	font-size: 15px;
	line-height: 40px;
}

.input_data {
	color: #fff;
	background: #4d4d4d;
	height: 40px;
	width: 70%;
	border-radius: 0 20px 20px 0;
	font-size: 15px;
}

.input_reset {
	color: #fff;
	background: #4d4d4d;
	height: 40px;
	width: 100%;
	border-radius: 20px;
	font-size: 15px;
	position: relative;
}

.error {
	color: #f45d5d;
}

.captcha_desc {
	color: #fff;
	background: #f45d5d;
	height: 40px;
	width: 40%;
	border-radius: 0 20px 20px 0;
	font-size: 15px;
	line-height: 40px;
}

.captcha_data {
	color: #fff;
	background: #4d4d4d;
	height: 40px;
	width: 60%;
	border-radius: 20px 0 0 20px;
	font-size: 15px;
}

.btn {
	border-radius: 20px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	color: #fff;
	background: #3cad58;
	border: none;
	box-shadow: none;
	padding: 0 28px 0 27px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
	position: relative;
	display: inline-block;
}

.btn:hover {
	opacity: 0.7;
}
.btn.db{
	display: block;
}
.btn_top{
	padding: 0 15px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: #e1883a;
}
.btn_mini{
	padding: 0 15px;
	min-width: 85px;
	height: 21px;
	line-height: 21px;
	font-size: 11px;
}
.btn_orange{
	background: #e1883a;
}
.btn_green{
	background: #097225;
}
.wr_star_btn {
	width: 180px;
}
.wr_star_btn a {
	display: block;
	width: 22px;
	height: 22px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	margin: 5px;
	background: #303b46;
	color: #fff;
}
.wr_star_btn a:hover {
	background: #2388cd;
}

.btn_foot{
	color: #fff;
	font-size: 27px;
}
.btn_foot:hover,
.btn_foot.active{
	color: rgb(225, 136, 58);
}

.btn_sw{
	background: rgb(226, 128, 35);
	height: 34px;
	line-height: 33px;
	text-shadow: 0px 0px 24px rgba(0, 0, 0, 0);
	border-radius: 4px;
	font-size: 16px;
}
.btn_sw:hover{
	background: #252525;
	opacity: 1;
}
.btn_sw.active{
	background: #252525;
	cursor: default;
}

.btn_del {
	border-radius: 4px;
	color: #fff;
	font-size: 13px;
	line-height: 21px;
	padding: 0 5px;
	height: 22px;
	background: #252525;
}
.btn_del:hover{
	opacity: 1;
	background: #4a9e4a;
}

.btn_def{
	box-shadow: 0px 0px 15px 0px rgb(215, 59, 56);
	background: rgba(0, 0, 0, 0);
	border-radius: 3px;
	border: 2px solid #9E9E9E;
	color: #fff;
	height: 34px;
	line-height: 30px;
	text-transform: none;
	font-size: 14px;
}
.btn_def:hover{
	background: #1b1b1b;
	box-shadow: none;
	opacity: 1;
}



.logo{
	width: 90px;
	height: 40px;
	display: block;
	background: url(../img/logo.gif) 0 0 no-repeat;
	background-size: 100%;
}
.logoru {
	display: flex;
	align-self: flex-end;
	font-size: 24px;
	color:  #7c7c7c;
	font-weight: bold;
	padding-top: 20px;
}


.btn_ico {
	display: flex;
	/* position: absolute; */
	z-index: 2;
	height: 40px;
	width: 40px;
	margin-left: 10px;
	border-radius: 50%;
	background: #2b6633;
	line-height: 100%;
	font-size: 20px;
	color: #fff;
	right: calc(50% - 87px);
	cursor: pointer;
	border: 5px solid #3cad58;
}

.btn_ico_pos1{
	right: calc(50% - 87px);
}

.btn_ico_pos2{
	right: calc(50% - 50px);
}

.btn_ico_pos3{
	right: calc(50% - 94px);
}

.btn_ico:hover {
	opacity: 0.7;
}

.btn_ico2 {
	display: flex;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #7c7c7c;
	line-height: 100%;
	position: absolute;
	font-size: 18px;
	color: #4d4d4d;
	top: 4px;
	right: 4px;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn_ico2:hover {
	opacity: 0.7;
}

/* slider */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: transparent;
	border-color: none;
	color: none;
	text-shadow: none;
}

.ui-input-text, .ui-input-search {
	margin: 0;
	border-width: 0px;
	border-style: none;
}

.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {

	background-color: transparent;
	border-color: transparent;
	color: #b7b7b7;
	text-shadow: none;

}

.ui-page-theme-a .ui-btn:focus,html .ui-bar-a .ui-btn:focus,html .ui-body-a .ui-btn:focus,html body .ui-group-theme-a .ui-btn:focus,html head+body .ui-btn.ui-btn-a:focus,.ui-page-theme-a .ui-focus,html .ui-bar-a .ui-focus,html .ui-body-a .ui-focus,html body .ui-group-theme-a .ui-focus,html head+body .ui-btn-a.ui-focus,html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.ui-input-text input, .ui-input-search input {

	margin: 0;
	min-height: 2.2em;
	text-align: center;
	border: 0;
	background: transparent none;
	-webkit-appearance: none;
	-webkit-border-radius: inherit;
	border-radius: inherit;

}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {

	color: #fff;
	font-weight: 400;

}
.ui-mobile .ui-page-active {
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: flex-start;
	flex-align-content: flex-start;
	-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
}

.ui-shadow-inset {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn.task {
	height: 30px;
}

.acc-tabs {
	min-width: 100%;
}


/*cabinet*/


.h2.slick-active{
	border-bottom: 2px solid #ccc;
}
.mybalance {
	color: #e7594f;
}

.wr_myslider_nav{
	position: fixed;
	top: 50px;
}
.myslider_nav{
	width: 100%;
	z-index: 10;
}
.main_menu{
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 10;
	background: rgb(27, 27, 27);
}
.main_menu::after,
.main_menu::before{
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	background-image: linear-gradient(to right, transparent 0%, #ca1010 50%, transparent 100%);
}
.main_menu::after{
	bottom: 0;
}
.main_menu::before{
	top: 0;
}
.myslider_nav {
	padding-top: 7px;
}

.btn_menu{
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	padding: 0 36px 2px 0;
	margin: 5px 10px 8px;
	border-bottom: 2px solid transparent;

}
.btn_menu.slick-current{
	border-color: #1c9c3f;
}
.slick-slide {
	outline: none;
}
.myslider .slick-slide {
	min-height: calc(100vh - 205px);
}


.het{
	position: absolute;
	top: -5px;
	left: auto;
	right: -1px;
	font-weight: bold;
	color: #ffffff;
	background: #008000;
	border-radius: 10px;
	padding: 1px 0;
	display: block;
	width: 35px;
	text-align: center;
	font-size: 12px;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper{
	border: none;
}

.logo_cantainer{
	margin-top: 50px;
}
.present{
	display: block;
	height: 30px;
	font-size: 25px;
	color: #e78925;
}

.price_1 {background: #BF362C;}
.video_bl:hover .price_1,
.price_1:hover
{background: #6f1913;}
.price_2 {background: #1C9C3E;}
.video_bl:hover .price_2,
.price_2:hover
{background: #0e5d23;}
.price_3 {background: #424748;}
.video_bl:hover .price_3,
.price_3:hover
{background: #424748b5;}
.price_4 {background: #0792B3;}
.video_bl:hover .price_4,
.price_4:hover
{background: #0792b396;}


.notice{
	position: relative;
	border-radius: 5px;
	z-index: 2;
	font-size: 14px;
	width: 100%;
}
.notice_green{
	background: #097225;
}
.notice_red{
	background: rgba(197, 35, 17, 0.61);
}
.notice .close{
	position: absolute;
	left: auto;
	right: 10px;
	top: calc(50% - 10px);
	background: #1c1c1c;
	border-radius: 50%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px;
}
.notice .close:hover{
	background: rgba(15, 15, 15, 0.61);
}

.reads_bl{
	color: #fff;
	padding: 6px 21px;
	border-radius: 31px 0px 31px 0px;
	font-size: 13px;
	margin-bottom: 10px;
}

.pagination {
	text-align: center;
	white-space: nowrap;
	padding: 12px 0;
}
.pagination a {
	display: inline-block;
	font-size: 14px;
	width: 30px;
	height: 25px;
	line-height: 26px;
	color: #fff;
	background: #e28f2f;
	margin: 0px 3px;
	border-radius: 3px;
}
.pagination a:hover,
.pagination a.active {
	background: rgba(134, 134, 134, 0.38);
}
.btn_black {
	height: 30px;
	line-height: 29px;
	font-size: 14px;
	color: #fff;
	background: #1B1B1B;
	border-radius: 4px;
	padding: 0 10px;
}

.video_bl {
	padding-bottom: 10px;
	background: rgb(8, 8, 8);
	border-radius: 31px 0px;
	margin: 0px 10px 20px;
	width: 140px;
	color: #fff;
}
.head_v{
	color: #fff;
	padding: 6px 21px;
	border-radius: 31px 0px 31px 0px;
	font-size: 13px;
}

.video_bl img {
	display: block;
	width: 80%;
	height: auto;
	margin: 5px auto;
}
.hr {
	background-image: linear-gradient(to right, transparent 0%, #ca1010 50%, transparent 100%);
	display: block;
	height: 1px;
	width: 100%;
}
.p_txt{
	padding-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}

.head_acc {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 0px 3px;
}
.head_acc2 {
	color: rgb(231, 89, 79);
	padding: 5px 0px;
	position: relative;
}
.btn_back{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 27px;
	color: #fff;
}
.btn_back:hover{
	opacity: 0.7;
}

::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px
}

::-webkit-scrollbar-track {
	background-color:#ecedee;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#868686;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#747171;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	width: 4px;
}


/*серфинг сайта*/

.serf_page .wr_frame {
	width: 100%;
	height: calc(100% - 78px);
}
.serf_page .wr_frame iframe {
	width: 100%;
	height: 100%;
}
.serf_page .foot {
	height: 80px;
	position: fixed;
	left: 0;
	width: 100%;
	bottom: 0;
	border-top: 2px solid #C30F0F;
	background: #131313 url(../img/fon.jpg) 0 0 repeat;
}
.timers {
	color: rgb(90, 90, 90);
	font-weight: 700;
	font-size: 50px;
	display: block;
	position: relative;
	margin: 0 auto;
}



.wr_youtube{
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	height: 0;
}
.wr_youtube iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.title_c {
	white-space: nowrap;
	color: #e7594f;
	text-transform: uppercase;
}

.color_green{color: #00bf33;}
.color_gray{color: #868686;}
.color_orange{color: #E28023;}

.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}

.timers_ref{
	color: #5a5a5a;
	font-family: fantasy;
	font-size: 70px;
	display: inline-block;
	left: calc(50% - 145px);
	position: relative;
	white-space: nowrap;
}

/* PAGER */
.pager-order span{
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.pager-order span:hover{
	color: #fc9f86;
	text-shadow: 0px 0px 24px rgb(255, 0, 0);
}
.pager-order.order-asc span::after,
.pager-order.order-desc span::after{
	position: absolute;
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 14px;
}
.pager-order.order-asc span::after{
	content: '\f0de';
	right: -15px;
	top: 2px;
}
.pager-order.order-desc span::after{
	content: '\f0dd';
	right: -15px;
	top: -3px;
}


/*------table----------*/
.tbl{
	color: #fff;
	padding: 7px 5px;
	font-size: 13px;
	background: rgba(0,0,0,0.2);
}
.tbl:nth-child(2n){
	background: rgba(0,0,0,0.5);
}
.tbl2 {
	color: #fff;
	padding: 2px 5px;
	font-size: 13px;
}

.tbl2:hover {
	background: #313131;
}

.tbl.th{
	background: #252525;
	text-transform: uppercase;
}
.tbl > *{
	padding: 0 5px;
}


.btn_news1{
	position: relative;
}

.btn_news1::after{
	content: '';
	position: absolute;
	display: none;
	top: -3px;
	left: auto;
	right: -9px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #1c9c3e;
}
.btn_news1.add_news::after{
	display: block;
}


.news_bl{
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.38);
	padding: 15px 15px 0;
	overflow: hidden;
	margin-top: 30px;
}
.date_n{
	background: #5A1313;
	color: #fff;
	margin-top: 30px;
	position: relative;
	left: -15px;
	padding: 10px 15px;
	width: calc(100% + 30px);
}
.news_bl .head_acc{
	margin-bottom: 50px;
}
.news_bl img{
	max-width: 98%;
	height: auto!important;
}

.checkbox + label::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	background: #171717;
	left: 0px;
	top: 50%;
	margin-top: -10px;
	border-radius: 3px;
	border: 2px solid #c30f0f;
}
.checkbox + label::after {
	color: #fff;
}

.btton {
	background: #1b1b1b;
	padding-left: 90px;
	padding-right: 105px;
	height: 84px;
	width: 245px;
	position: relative;
	border: 1px solid #c30f0f;
	border-radius: 5px;
	margin: 10px;
	overflow: hidden;
	color: #ffffff;
}
.btton:hover {
	box-shadow: 0px -14px 98px rgba(255, 0, 0, 0.38);
	background: #2f1a1a;
}
.btton img {
	position: absolute;
	left: 15px;
	top: 17px;
	border: none;
	transition: all 0.3s ease-in-out;
}
.btton-text {
	padding-top: 15px;
	display: block;
	font-size: 24px;
}
.btton-text small {
	display: block;
	font-size: 11px;
	letter-spacing: 1px;
}
.btton:active {
	position: relative;
	top: 1px;
	background: #0a7326;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
	border-color: #181818;
}

.status_0{
	color: #C30F0F;
}
.status_1{
	color: #0DA236;
}

.popup.forms2 {
	position: fixed;
	top: 15px;
	max-width: 480px;
	padding: 30px;
	background: #000;
	color: #fff;
	border: 1px solid #c30f0f;
	border-radius: 5px;
	box-shadow: 0px -14px 98px rgba(255, 0, 0, 0.38);
	max-height: calc(100% - 30px);
	overflow-y: auto;
}
#formMsgSystem + .popup {
	z-index: 102;
}
.popup .close {
	position: absolute;
	top: 1px;
	right: 1px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	padding: 9px 13px;
	background: rgb(195, 15, 15);
	border-radius: 20px;
}
.popup .close:hover {
	color: orange;
}
.popup .head {
	text-align: center;
	font-size: 24px;
	margin-bottom: 18px;
	font-weight: 700;
}

.wr_btn_copy{
	position: relative;
	padding-right: 30px;
}
.btn_copy{
	position: absolute;
	top: calc(50% - 12px);
	left: auto;
	right: 0;
	width: 10%;
}
.my_video1{
	font-size: 22px;
}
#played{
	color: rgb(231, 89, 79);
	font-size: 30px;
	font-weight: 900;
	padding: 0 10px;
	display: inline-block;
}


/*тут был Style*/

@media only screen and (max-width: 480px) {
	.foot .row{
		padding-top: 2px;
		padding-bottom: 6px;
	}
	.star_pcs{
		font-size: 12px;
		padding: 0 0 2px;
	}
	.captcha_img {
		width: 120px;
		height: auto;
	}
	.wr_star_btn {
		width: 160px;
	}
	.wr_star_btn a {
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 12px;
		margin: 3px 4px;
	}
	.head_acc2{
		padding-left: 30px;
	}

	.timers_ref{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 55px;
		left: calc(50% - 145px);
		font-weight: 900;
	}

}