
@import url(https://fonts.googleapis.com/css?family=Roboto);
$fonts_r: 'Roboto', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$fonts_m: 'Montserrat', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
$fonts_ks: 'Kaushan Script', cursive;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
$fonts_ssp: 'Source Sans Pro', sans-serif;
// шрифты локал
// $font-family: SegoeWP;

// $fonts: $font-family;
// $fonts_black: #{$font-family}-Black;
// $fonts_bold: #{$font-family}-Bold;
// $fonts_light: #{$font-family}-Light;
// $fonts_semibold: #{$font-family}-Semibold;
// $fonts_semilight: #{$font-family}-Semilight;

// @font-face {
//  font-family: $fonts;
//  src: url(../fonts/#{$fonts}.ttf);
// }
// @font-face{
//  font-family: $fonts_black;
//  src: url(../fonts/#{$fonts_black}.ttf);
// }
// @font-face{
//  font-family: $fonts_bold;
//  src: url(../fonts/#{$fonts_bold}.ttf);
// }
// @font-face{
//  font-family: $fonts_light;
//  src: url(../fonts/#{$fonts_light}.ttf);
// }
// @font-face{
//  font-family: $fonts_semibold;
//  src: url(../fonts/#{$fonts_semibold}.ttf);
// }
// @font-face{
//  font-family: $fonts_semilight;
//  src: url(../fonts/#{$fonts_semilight}.ttf);
// }